@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');/*importanto fontes */

:root {
  --primary-color: #da5c5c;
  --primary-hover-color: #a74b4b;
  --dark-color: #263238;
  --secondary-color: #9E9E9E;
  --light-color: #F5F5F5;
}

/*tirando margem padrao do html*/
html, body {
  margin: 0;
  padding:0;
}

/*definindo a fonte para todo o esqueleto*/
body {
  font-family: 'Open Sans', sans-serif;
}


/*remove todos os traços sublinhados*/
a {
  text-decoration: none;
}